<div class="container" id="content">

</div>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>
  window.pusher = new Pusher('<%= Pusher.key %>', {
    authEndpoint: 'api/pusher/auth'
  });
</script>

<script type="text/javascript" charset="utf-8">
$( function () {
  $('body').addClass('fixed');
  $('html').addClass('fixed');
})

  $(document).ready(function(){
    window.CURRENT_USER = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username %>",
      profile_img_url: "<%= current_user.profile_img_url %>"
    }

    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      theme: "minimal"
    }

    Slick.initialize();
  });
</script>
