<% @user.username %>

<div class="background-image"></div>
<div class="landing-container">
  <header class="landing-header">
    <div class="logo">slick</div>

    <div class="button-container">
      <p class="have-account">
        Have an account?
      </p>

      <button id="sign-in" class="sign-in">
        Sign In
      </button>
    </div>

    </header>

  <div class="landing-content">
    <div class="pitch">
      A distracting app for teams
    </div>
    <div class="pitch-context">
      All your communication in one place, with easily integrated distractions.
    </div>

    <div class="big-logo">
      <img src=""/>
    </div>

    <div class="pitch-sub">
      Slick is a powerful tool for business communication.  Disrupting all the things is now more fun with fun with Slick.
    </div>
  </div>



  <div class="sub-content">
    <form class="create-account-form" action="<%= users_url %>" method="post">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        <input class="main-input" id="user-username"
          type="text"
          name="user[username]"
          value=""
          placeholder="Username">


        <input type="hidden" id="user-profile_img_url"
          name="user[profile_img_url]"
          value="http://res.cloudinary.com/slickapp-io/image/upload/v1434155159/blank-profile_kxaypr.jpg">

        <input class="main-input" id="user-username"
          type="password"
          name="user[password]"
          value=""
          placeholder="Password">

          <button class="create-account-button" type="submit">Create Account</button>
    </form>

    <form class="create-account-form" action="<%= users_url %>" method="post">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        <input type="hidden" id="user-profile_img_url"
          name="user[profile_img_url]"
          value="http://res.cloudinary.com/slickapp-io/image/upload/v1434155159/blank-profile_kxaypr.jpg">

      <input id="user-username"
        type="hidden"
        name="user[username]"
        value="<%= Faker::Internet.user_name %>">
      <input id="user-username"
        type="hidden"
        name="user[password]"
        value="password">

        <button class="create-account-button" type="submit">Guest Login</button>
    </form>
  </div>

  <%= render 'sessions/form' %>


  <footer class="contact">
    <div class="subtext">
      Powered by Backbone.js and Ruby-on-Rails
    </div>

    <div class="source">
      <a href="https://github.com/powersjcb/slick">
        <div id="source"><i class="fa fa-github"></i> Source</div>
      </a>
    </div>

    <div class="author">
        <span class="author-detail">Jacob Powers</span>
        <a class="author-detail" href="mailto:powersjcb@gmail.com">
          <span class="email">powersjcb@gmail.com</span>
        </a>
        <a class="author-detail" href="https://github.com/powersjcb">
          <span class="github author-detail"><i class="fa fa-github"></i> github.com/powersjcb</span>
        </a>
        <a class="author-detail" href="https://www.linkedin.com/in/powersjcb">
          <span class="linkedin"><i class="fa fa-linkedin"></i> LinkedIn</span>
        </a>
    </div>
    <div class="legal">
      <span class="author-detail">Copysite C 2015. San Francisco, California.</span>
      <span class="author-detail">
        <span class="privacy">Privacy</span>
        <div class="privacy-tooltip">Please don't try to have private conversations using Slick</div>
      </span>
    </div>
  </footer>
</div>


<% content_for(:head) do %>
  <%= javascript_include_tag 'root' %>
<% end %>
