<%= @user.username %>
<div class="container">
  <header><span class="logo">slick</span></header>

  <div class="pitch">
    SALES PITCH IMAGE AND TEXT GOES HERE
  </div>




<form class="" action="<%= users_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    <input id="user-username"
      type="text"
      name="user[username]"
      value=""
      placeholder="Username">
    <input id="user-username"
      type="password"
      name="user[password]"
      value=""
      placeholder="Password">

      <button type="submit">Create Account</button>
</form>

<form class="" action="<%= sessions_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input id="user-username"
    type="hidden"
    name="user[username]"
    value="guest1">
  <input id="user-username"
    type="hidden"
    name="user[password]"
    value="password">

    <button type="submit">Guest Login</button>
</form>

</div>
